.box {
  width: 30px;
  height: 30px;
  background-color: blue;
  margin: 15px 7px;
}

.box:first-child {
  margin-left: 15px;
}

.box:last-child {
  margin-right: 15px;
}

.row {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin: 20px;
  border: 2px solid blue;
  width: fit-content;
}

.altered {
  background-color: orangered;
}

.altered .box {
  background-color: blueviolet;
}
