.container {
  padding-top: 1rem;
}

.slider {
  width: 800px;
  height: 400px;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  box-shadow: 0px 5px 10px grey;
}

.slide-left-button,
.slide-right-button {
  width: 70px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: none;
  background-color: inherit;
}

.slide-left-button:hover,
.slide-right-button:hover {
  background-color: rgb(240, 240, 240);
}

.slide-left-button img {
  display: block;
}

.slide-right-button img {
  transform: rotateY(180deg);
}

.image-holder {
  flex-grow: 1;
  position: relative;
  height: 400px;
}

.image-holder img {
  height: 400px;
  width: 700px;
  object-fit: cover;
}

.meta {
  height: 100px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.753);
  padding: 10px;
  box-sizing: border-box;
}

#image-title {
  font-size: 20px;
  font-family: sans-serif;
  margin-bottom: 10px;
}

#image-desc {
  font-size: 12px;
  font-family: sans-serif;
}

.thumbnails {
  list-style: none;
  width: 700px;
  display: flex;
  justify-content: center;
}

.thumbnails li {
}

.thumbnails img {
  width: 100px;
  height: 50px;
}
